.layout-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-button {
	text-transform: capitalize;
	padding: 12px;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 600px) {
	.mobile-menu {
		display: contents;
	}
	.menu-button {
		display: none;
	}
}
